.navigation{
    grid-area: n;
    background-color: antiquewhite;
    padding: 10% 30% 95% 25%;
    border-radius: 20px;
    margin-right: 10px;
}
.item a{
    text-decoration: none
}
.item a.activeLink{
    font-weight: bold;
}