.bcgrdimg {
    margin-bottom: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 200px;
    background-size:100%;
    background-repeat: no-repeat;
    background-image: url("https://i.pinimg.com/originals/34/42/88/344288d5e85ebd8976a81c0f75315e46.jpg");
}

.profile_foto, .profile_info {
    display: inline-block;

}
.profile_img {
    height: 120px;
    margin-right: 20px;
}
.profile_info {
    vertical-align: top;
}