.app{
    display: grid;
    grid-template-areas:    "h h"
                            "n c";
    grid-template-rows: 120px 2fr;
    grid-template-columns: 2fr 10fr;
    width: 75%;
    margin: 0 auto;
}
.main_content{
    grid-area: c;
    background-color: cornsilk;
    border-radius: 20px;
}